/* border box shortcut */
* {
    box-sizing: border-box;
}

/* background and text formatting */
body {
    background-size: cover;
    background-attachment: fixed;
    font-weight: bolder;
    font-size: large;
    color: black;
}

/* hides url to thank_you.html */
.hide {
    display: none;
}

/* establish size of my photo */
.img-me {
    width: 25%;
    float: left;
}

/* background color of content boxes */
.col-lg-12 {
    background-color: rgba(66, 53, 28, 0.575);
    padding: 20px 20px 30px 15px;
}

/* establish font size and color */
h1 {
    font-size: 3rem;
    color: black;
}

/* nav bar color */
.navbar {
    background-color: rgba(66, 53, 28, 0.575);
}

/* establish spacing for content sections */
.my-container {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
}

/* centers portfolio thumbnails */
.col-lg-6 {
    margin: 0 auto;
}

/* space between thumbnails */
.sites {
    width: 100%;
}

/* change sticky footer color */
.footer {
    background-color: rgba(66, 53, 28, 0.575);
}


/* ------- media queries for mobile use ------- */
@media screen and (max-width: 768px) {

    .my-container {
        max-width: 90%;
    }

    .img-me {
        width: 45%;
    }

    h1 {
        font-size: 2rem;
    }
}

 @media screen and (max-width: 576px) {

    .my-container {
        max-width: 95%;
        padding: 20px;
    }

    .img-me {
        display: block;
        width: 100%;
    }

    h1 {
        font-size: 1.5rem;
    }
 }